<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Master Pokedex</title>
</head>
<body>
    <header>
    <h1> <a href="/">Pokédex</a> </h1>
    <nav>
        <ul>
            <li> <a href="#cadastro">Cadastro</a></li>
            <li><a href="#card">Pokémons</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <section id="cadastro">
                <h2>
                    Cadastre um novo Pokémon
                </h2>
                <form action="/add" method="POST">
        
                    <label for='name'>Nome:</label>
                    <input type="text" id="name" name='name'>
        
                    <label for="description">Descrição:</label>
                    <input type='text' id="description" name='description'>
        
                    <label for='type'>Tipo:</label>
                    <input type="text" id="type" name='type'>
        
                    <label for="abilities">Habilidade:</label>
                    <input type="text" id="abilities" name='abilities'>
        
                    <label for='image'>Link da Imagem:</label>
                    <input type="text" id="image" name='image'>
        
                    <button class="btnform" type="submit">Cadastrar</button>
                </form>
        </section>
        <section id="card">
            <h2>Lista de Pokémons</h2>
<% pokedex.forEach((pokemon)=> { %> 
    <div class="card">
            <img src= "<%= pokemon.image %>" alt="pokémon">
            <h3><%= pokemon.name %></h3>
            <a href="detalhes.ejs" method='get' <%= pokemon.id%> >Detalhes</a>
    </div>
<%  }) %>
   </section>
   
</main>
<footer>
    <p>All rights reserved <a target="_blank" href="https://github.com/sirdav1d">David D. Dos Santos &copy;</a></p>
</footer>

</body>
</html>