<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\style.css">
    <link rel="shortcut icon" href = "https://img.icons8.com/color/48/000000/superball.png" type="image/x-icon">
    <title>Master Pokédex</title>
</head>
<body>
    <header>
    <h1> <a href="/">Pokédex</a> </h1>
    <nav>
        <ul>
            <li> <a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <!-- <div>
        POKÉMON CADASTRADO COM SUCESSO
        </div> -->
        <section id="card">
            <h2>Pokémons</h2>
<% pokedex.forEach((pokemon)=> { %> 
            <div class="card">
            <img src= "<%= pokemon.image %>" alt="pokémon">
            <h3><%= pokemon.name %></h3>
            <a href="/detalhes/<%= pokemon.id%>" >Detalhes</a>
    </div>
<%  }) %>
   </section>
   
</main>
<footer>
    <p>All rights reserved <a target="_blank" href="https://github.com/sirdav1d">David D. Dos Santos &copy;</a></p>
</footer>
</body>
</html>