@font-face {
	font-family: pokemon-solid;
	src: url(../assets/fonts/pokemon/Pokemon\ Solid.ttf);
}

@font-face {
	font-family: pokemon-hollow;
	 src: url(../assets/fonts/pokemon/Pokemon\ Hollow.ttf);
}

@font-face {
	font-family: pop;
 src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
} 

@media(max-width:910px){
	body header{
	height:10vmax;
	padding: 1vmax 2vmax;
}
	body main section#cadastro{
		width: 40vmax;
		height: 70vmax;
		margin:  -5vmax 5vmax;
	}
	body main div a{
		font-size: 1.5vmax;
		padding: .5vmax;
	}
	body main section#cadastro h2 {
		font-size: 2.5vmax;
		margin: -3vmax 0;
		line-height: 3vmax;
	}
	body main section#cadastro form{
		margin-top: -3vmax;

	}
	body main section#cadastro form label{
		font-size: 1.6vmax;
		margin-top: .5vmax;
	}
	body main section#cadastro form input{
		font-size: 1.5vmax;
		width: 32vmax;
		border-radius: 1vmax;
	

	}body main section#cadastro form button.btnform{
		font-size: 2vmax;
	
	}

	footer{
		padding: 1rem;
		font-size: 1.5vmax;
	}
}

@media(max-width:700px){

	body main section#cadastro{
		width: 45vmax;
		height: 75vmax;
		margin:  -5vmax 4vmax;
		padding: 1vmax;
	}
	body main div a{
		font-size: 1.2vmax;
		margin: 0 1vmax;
		padding: 2vmax 1.5vmax;
		line-height: 2vmax;
		color: aqua;
		text-shadow: 0px 0px 25px aqua;
	
	}
	body main section#cadastro h2 {
		font-size: 3vmax;
		margin: -.5vmax 0 -1.5vmax 0; 
		line-height: 4vmax;
	}
	body main section#cadastro form{
		margin-top: 1vmax;

	}
	body main section#cadastro form label{
		font-size: 1.6vmax;
		margin-top: 1.5vmax;
	}
	body main section#cadastro form input{
		font-size: 1.5vmax;
		width: 23vmax;
		border-radius: 1vmax;
	

	}body main section#cadastro form button.btnform{
		font-size: 2vmax;
		margin-top: .5vmax;
	
	}

	footer{
		padding: 1rem;
		font-size: 1.5vmax;
	}
}

@keyframes btn-anime2 {
	50% {
		color: aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		opacity: 1;
		text-shadow: 0px 0px 10px aqua;
	}
}

@keyframes btn-anime {
	50% {
		color: aqua;
		border: 2px solid aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
		opacity: 1;
		text-shadow: 0px 0px 20px aqua;
		box-shadow: 0px 0px 20px aqua;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: pop, Verdana, Geneva, Tahoma, sans-serif;
	scroll-behavior: smooth;
	
}

body{
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

header {
	background: linear-gradient(
			-45deg,
			rgb(14, 14, 14),
			rgb(39, 39, 39),
			rgb(175, 45, 45),
			rgba(255, 0, 0, 0.932)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 45s 1ms ease-in-out infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px -3px 3px rgba(0, 0, 0, 0.548);
		display: flex;
		justify-content: center;
		align-items: center;
	width: 100vw;
	height: 6.5vmax;
	z-index: 99;
	position: fixed;
	top: 0px



	
}

header h1 a {
	font-family: pokemon-hollow;
	font-size: 3.5vmax;
	font-weight: bolder;
	color: rgb(1, 161, 161);
	text-shadow:2px 2px 10px rgba(0, 0, 0, 0.384);
	text-decoration: none;
	top: 0px;
	transition: all 1s ease;
}

header h1 a:hover{
	color: aqua;
	text-shadow: 2px 2px 8px aqua;

}

main {
	background-image: url(../assets/media/poke2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;

	flex-direction: row;
	height: 100vh;
	padding-top: 20vmax;
}

main div{
	display: flex;
	flex-direction: column;
	font-size: 1.1vmax;
	line-height: 3.5vmax;
	
}

main div a{
	text-decoration: none;
	color: antiquewhite;
	text-shadow: 4px 3px 2px rgb(0, 0, 0);
	font-weight: bolder;
	transition: all .8s ease;
	text-align: center;
}

main div a:hover{
	color:aqua;
	text-shadow: 0px 0px 20px aqua;
}

section#cadastro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius: 1vmax;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	width: 34vmax;
	height: 39vmax;
	margin: -11vmax 25vmax 0 4vmax;
	
	
}

section#cadastro h2 {
	font-size: 1.5vmax;
	font-weight:lighter;
	text-align: center;
	color: rgb(0, 158, 158);
	font-family: pokemon-solid;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	margin: 0vmax 2vmax;
}

section#cadastro form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	
}

section#cadastro form input {
	width: 25vmax;
	font-size: .8vmax;
	outline: none;
	border: solid 2px #05574a57;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.664);
	border-radius: .4vmax;
	font-family: pop, sans-serif;
	margin-bottom: .2vmax;
}

section#cadastro form label {
	color: whitesmoke;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.637);
	font-size: 1vmax;
	margin: 0;
	
}

section#cadastro form button.btnform {
	padding: .5vmax 1.5vmax;
	display: flex;
	justify-content: center;
	margin: auto;
	background-color: rgba(34, 34, 34, 0.925);
	color: rgb(0, 158, 158);
	border-radius: 1rem;
	font-weight: bolder;
	border: 2px solid rgba(34, 34, 34, 0.925);
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.726);
	font-size: 1vmax;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432), inset 1px -1px 2px rgb(0, 0, 0);
	opacity: 0.9;
	margin-top: .5vmax;
}

section#cadastro form button.btnform:hover {
	cursor: pointer;
	animation: 0.7s 1ms ease-in-out forwards btn-anime;
}

footer{
	background: linear-gradient(
			-45deg,
			rgb(14, 14, 14),
			rgb(39, 39, 39),
			rgb(175, 45, 45),
			rgba(255, 0, 0, 0.932)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 45s 1ms ease-in-out infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px 3px 5px rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	padding: 1.5vmax;
	bottom: 0px;
	text-shadow: 2px 2px 8px black;
	font-size: 1.2vmax;
}

footer a{
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	transition: all 1s;
}

footer a:hover{
	color:aqua;
	text-shadow: 0px 0px 20px aqua;
}