@font-face {
	font-family: pokemon-solid;
	src: url(../assets/fonts/pokemon/Pokemon\ Solid.ttf);
}

@font-face {
	font-family: pokemon-hollow;
	src: url(../assets/fonts/pokemon/Pokemon\ Hollow.ttf);
}

@font-face {
	font-family: pop;
	src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: pop, Verdana, Geneva, Tahoma, sans-serif;
	scroll-behavior: smooth;
}

@media(max-width:680px){
	body header{
	height:10vmax;
}

	body main section.card{
		width: 25vmax;
		height: 50vmax;
		
	}
	body main section.card img{
		height: 15vmax;
		margin:.5vmax;
	}
	body main section.card img:hover{
		height: 20vmax;
		margin-bottom: -4.5vmax;
	}
	body main section.card h2{
		font-size: 3.5vmax;
		margin-bottom: .5vmax;
	}

	body main section.card div#container{
		margin-top: 2vmax;
	}
	body main section.card div#container p {
		font-size: 1.5vmax;
		text-align: center;
	}

	footer{
		font-size: 1.5vmax;
	}
}

@keyframes btn-anime {
	50% {
		color: aqua;
		border: 2px solid aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
		opacity: 1;
		text-shadow: 0px 0px 10px aqua;
		box-shadow: 0px 0px 20px aqua;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

body{
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

header {
	background: linear-gradient(
			-45deg,
			rgb(39, 39, 39),
			rgb(39, 39, 39),
			rgb(148, 59, 59),
			rgb(255, 0, 0)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 45s 1ms ease-in-out infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px -3px 3px rgba(0, 0, 0, 0.548);
		display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 6.5vmax;
	z-index: 99;
	

}

header h1 a {
	font-family: pokemon-hollow;
	font-size: 3.5vmax;
	font-weight: bolder;
	color: rgb(1, 161, 161);
	text-shadow:2px 2px 10px rgba(0, 0, 0, 0.384);
	text-decoration: none;
	transition: all 1s ease;
}

header h1 a:hover{
color: aqua;
	text-shadow: 2px 2px 8px aqua;
}

main{
	background-image: url(../assets/media/back-detalhes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

}

section.card
 {
	margin-bottom: 5vmax;
	color: whitesmoke;
	width: 25vmax;
	height: 30vmax;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	padding: 1rem;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius:1vmax;
	display: flex;
	text-shadow: 4px 2px 3px black;
	flex-direction: column;
	align-items: center;
	transition: all 1s ease;

}

section.card img {
	height: 9vmax;
	filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.692));
	transition: all 1s ease;
	margin-bottom: -2vmax;

}

section.card img:hover {
	transform: translateY(-5vmax);
	height: 14vmax;
	margin-bottom: -7vmax;
	
}

section.card p#descrip{
	text-align: center;
	font-size: 1.2vmax;
	margin-top: -1vmax;

}

section.card h2 {
	color: rgb(224, 224, 0);
	text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.842);
    font-family: pokemon-hollow;
	font-size: 3vmax;
	font-weight: 900;
	align-self: center;
}

section.card p#num{
	align-self: flex-end;
	text-shadow: 4px 3px 5px black;
	font-size: 1vmax;
	font-weight:900;
	color: rgb(251, 255, 0);
}

section.card div#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.144);
	backdrop-filter: blur(10px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	border-radius: 1rem;
	margin:1vmax;


}

section.card div#container p{
	padding: .5vmax 1vmax;
	color: rgba(255, 255, 255, 0.904);
	font-weight: bolder;
	text-shadow: 2px 2px 6px rgb(0, 0, 0);
	font-size: 1.1vmax;
	transition: all .6s ease;
	text-align: center;
}

section.card div#container p:hover{
	color: red;
}

footer{
	background: linear-gradient(
			-45deg,
			rgb(14, 14, 14),
			rgb(39, 39, 39),
			rgb(175, 45, 45),
			rgba(255, 0, 0, 0.932)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 45s 1ms ease-in-out infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px 3px 5px rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	padding: 1.5rem;
	bottom: 0px;
	text-shadow: 2px 2px 8px black;
}

footer a{
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	transition: all 1s;
}

footer a:hover{
	color:aqua;
	text-shadow: 1px 1px 6px aqua;
}