@font-face {
	font-family: pokemon-solid;
	src: url(../assets/fonts/pokemon/Pokemon\ Solid.ttf);
}


@font-face {
	font-family: pokemon-hollow;
	 src: url(../assets/fonts/pokemon/Pokemon\ Hollow.ttf);
}

@font-face {
	font-family: pop;
 src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
} 

* {
	padding: 0;
	margin: 0;
	font-family: pop, Verdana, Geneva, Tahoma, sans-serif;
	scroll-behavior: smooth;
	
}

@keyframes btn-anime2 {
	50% {
		color: aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		opacity: 1;
		text-shadow: 0px 0px 10px aqua;
	}
}

@keyframes btn-anime {
	50% {
		color: aqua;
		border: 2px solid aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
		opacity: 1;
		text-shadow: 0px 0px 10px aqua;
		box-shadow: 0px 0px 20px aqua;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


@media(max-width:650px) {
	body header{
	height:8vmax;
}
	body main section#card h2{
		margin: 15vmax 17vmax 0 17vmax;
		font-size: 6.5vmax;
		text-align: center;
		
}
	body main section#card div.card{
		justify-self: center;
		align-self: center;
		margin: 4vmax 3vmax;
		width: 12vmax;
		height: 20vmax;
	}
	body main section#card div.card img{
		height: 9.5vmax;

	}
	body main section#card div.card img:hover{
		height: 14vmax;
	}
	body main section#card div.card h3{
		font-size: 2.5vmax;
		margin-top: .5vmax;
	}
}

body{
	overflow-x: hidden;
	max-width: 100vw;
	max-height: 100vh;
	background-image: url(../assets/media/back-poke4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


header {
	background: linear-gradient(
			-45deg,
			rgb(14, 14, 14),
			rgb(39, 39, 39),
			rgb(175, 45, 45),
			rgba(255, 0, 0, 0.932)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 45s 1ms ease-in-out infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px -3px 3px rgba(0, 0, 0, 0.548);
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	width: 100vw;
	height: 6.5vmax;
	z-index: 99;
	position: fixed;
	top:0px


	
}

header h1 a {
	font-family: pokemon-hollow;
	font-size: 3.5vmax;
	font-weight: bolder;
	color: rgb(1, 161, 161);
	text-shadow:2px 2px 10px rgba(0, 0, 0, 0.384);
	text-decoration: none;
	text-align: right;
	transition: all 1s ease;
}

header h1 a:hover{
	color: aqua;
	text-shadow: 2px 2px 8px aqua;

}

header nav ul{
	display: flex;
	justify-content: space-evenly;
}

header nav ul li{
	font-size: 1.5vmax;
	list-style: none;
	font-weight: bold;
	color: rgb(0, 128, 128);
	margin-top: 1rem;
}

header nav ul li a {
	color: rgb(1, 161, 161);
	padding: 2rem;
	text-decoration: none;
	transition: all 1s ease;
	text-shadow:2px 2px 10px rgba(0, 0, 0, 0.384);
}

header nav ul li a:hover{
	color: aqua;
	text-shadow: 2px 2px 8px aqua;
}

main{
	display: flex;
	flex-flow: column;
}
	

section#card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section#card h2 {
	color: rgb(255, 40, 40);
	text-shadow: 4px 3px 10px rgb(0, 0, 0);
	text-align: center;
	font-size: 5vmax;
	font-family: pokemon-solid;
	font-weight:100;
	margin: 5vmax 40vmax 0 40vmax;
}
section#card div.card {
	color: whitesmoke;
	width: 12vmax;
	height: 17vmax;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	padding: 1rem;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius: 2vmax;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .6s ease;
	margin: 4vmax;
}

section#card div.card:hover{
	transform: translateY(-1.5vmax);
}

section#card div.card img {
	height: 7vmax;
	align-self: center;
	filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.692));
	padding: 2vmax;
	transition: all .7s ease;
	margin-bottom: -3vmax;
}

section#card div.card img:hover {
	transform: translateY(-3.5vmax);
	align-self: center;
	height: 10vmax;
	margin-bottom: -6.5vmax;
	
}

section#card div.card h3 {
	font-family: pokemon-hollow;
	font-weight: bolder;
	color: rgb(250, 0, 0);
	text-shadow: 2px 2px 20px rgb(0, 0, 0);
	font-size: 2vmax;
}


section#card div.card a{
	text-decoration: none;
	padding: 1.5rem 4rem;
	margin-top: -2vmax;
	text-align: center;
	display: flex;
	color: rgb(0, 158, 158);
	border: none;
	font-weight: bolder;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.726);
	font-size: 1.5vmax;
	opacity: 0.9;
	transition: all 1s ease;
}

section#card div.card a:hover{
	cursor: pointer;
	animation: 0.7s 1ms ease-in-out forwards btn-anime2;

	
}



footer{
	
	margin-top: 25vmax;
	background: linear-gradient(
			-45deg,
			rgb(14, 14, 14),
			rgb(39, 39, 39),
			rgb(175, 45, 45),
			rgba(255, 0, 0, 0.932)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 45s 1ms ease-in-out infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 2px 2px 10px rgba(0, 0, 0, 0.726);
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	padding: 2vmax;
	text-shadow: 2px 2px 8px black;
	width: 100vw;
	font-size: 1.2vmax;
}

footer a{
	
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	transition: all 1s;
}

footer a:hover{
	color:aqua;
	text-shadow: 2px 2px 8px aqua;
}