/** @format */

@font-face {
	font-family: pokemon-solid;
	src: url(fonts/pokemon/Pokemon\ Solid.ttf);
}

@font-face {
	font-family: pokemon-hollow;
	src: url(fonts/pokemon/Pokemon\ Hollow.ttf);
}

@font-face {
	font-family: pop;
	src: url(fonts/Poppins/Poppins-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: pop, Verdana, Geneva, Tahoma, sans-serif;
	scroll-behavior: smooth;
	
}


@keyframes btn-anime {
	50% {
		color: aqua;
		border: 2px solid aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
		opacity: 1;
		text-shadow: 0px 0px 10px aqua;
		box-shadow: 0px 0px 20px aqua;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}



header {
	background: linear-gradient(
			-45deg,
			rgb(39, 39, 39),
			rgb(39, 39, 39),
			rgb(148, 59, 59),
			rgb(255, 0, 0)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 40s 1ms ease infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px -3px 3px rgba(0, 0, 0, 0.548);
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
	width: 100vw;
	height: 15%;
	z-index: 99;
	position: fixed;


	
}


header h1 a {
	font-family: pokemon-hollow;
	font-size: 2rem;
	font-weight: bolder;
	color: aqua;
	text-shadow: 0px 0px 20px aqua;
	text-decoration: none;
	text-align: right;
}

header nav ul{
	display: flex;
	justify-content: space-evenly;
}

header nav ul li{
	list-style: none;
	font-weight: bold;
	color: rgb(0, 128, 128);
}

header nav ul li a {
	color: rgb(1, 161, 161);
	padding: 2rem;
	text-decoration: none;
	transition: all 1s;
}

header nav ul li a:hover{
	color: aqua;
	text-shadow: 0px 0px 20px aqua;
}

main {
	background-image: url(media/back-poke4.jpg);
	background-size: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 10rem;
	z-index: 0;
	
	
}


section#card {
	position: relative;
	margin: 10rem 15rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	z-index: 98;
	scroll-margin: 5rem;
}

section#card h2 {
	color: aqua;
	text-shadow: 2px 2px 20px aqua;
	align-self: center;
	padding: 1rem 15rem;
}
section#card div.card {
	color: whitesmoke;
	width: 15rem;
	height: 22rem;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	padding: 1rem;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius: 2rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 1s;
}

section#card div.card:hover{
	transform: translateY(-2rem);
}

section#card div.card img {
	height: 7em;
	align-self: center;
	filter: drop-shadow(5px 3px 6px rgb(0, 0, 0));
	padding: 3rem;
	margin: -3rem;
	transition: all 1s;
}

section#card div.card img:hover {
	transform: translateY(-3rem);
	height: 12em;
	margin-bottom: -7rem;
	
}

section#card div.card h3 {
	font-family: pokemon-hollow;
	font-weight: bolder;
	color: rgba(255, 50, 50, 0.918);
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
	font-size: 2rem;
	margin-top: -1rem;
}

section#card div.card p {
	font-size: smaller;
	margin-bottom: 0.5rem;
}

section#cadastro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius: 2rem;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	width: 25rem;
	height: 30rem;
	margin: auto;
	scroll-margin: 9rem;
	
}

section#cadastro h2 {
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: aqua;
	text-shadow: 4px 4px 10px black;
}

section#cadastro form {
	width: 75%;
}

section#cadastro form input {
	width: 100%;
	padding: 0.2rem;
	font-size: 0.7rem;
	outline: none;
	border: solid 2px #05574a57;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.664);
	margin-bottom: 1rem;
}

section#cadastro form label {
	color: aqua;
	text-shadow: 4px 2px 4px black;
	font-weight: 500;
}

section#cadastro form button.btnform {
	padding: 0.2rem 4rem;
	width: 10%;
	display: flex;
	justify-content: center;
	margin: 0.1rem auto;
	background-color: rgba(34, 34, 34, 0.925);
	color: rgb(0, 158, 158);
	border-radius: 1rem;
	font-weight: bolder;
	border: 2px solid rgba(34, 34, 34, 0.925);
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.726);
	font-size: larger;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432), inset 1px -1px 2px rgb(0, 0, 0);
	opacity: 0.9;
}

section#cadastro form button.btnform:hover {
	cursor: pointer;
	animation: 0.7s 1ms ease-in-out forwards btn-anime;
}

footer{
	background-color: rgba(0, 0, 0, 0.842);
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	padding: 1rem;
	bottom: 1px;
	text-shadow: 2px 2px 8px black;
}

footer a{
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	transition: all 1s;
}

footer a:hover{
	color:aqua;
	text-shadow: 2px 2px 8px aqua;
}