/** @format */

@font-face {
	font-family: pokemon-solid;
	src: url(fonts/pokemon/Pokemon\ Solid.ttf);
}

@font-face {
	font-family: pokemon-hollow;
	src: url(fonts/pokemon/Pokemon\ Hollow.ttf);
}

@font-face {
	font-family: pop;
	src: url(fonts/Poppins/Poppins-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: pop, Verdana, Geneva, Tahoma, sans-serif;
	scroll-behavior: smooth;
}


@keyframes btn-anime {
	50% {
		color: aqua;
		border: 2px solid aqua;
		opacity: 0.95;
	}

	80% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
	}

	100% {
		transform: scale(110%);
		color: aqua;
		border: 2px solid aqua;
		opacity: 1;
		text-shadow: 0px 0px 10px aqua;
		box-shadow: 0px 0px 20px aqua;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes flow {
	to {
		transform: translate(0.5rem, -3rem);
		height: 12rem;
	}
}

header {
	background: linear-gradient(
			-45deg,
			rgb(39, 39, 39),
			rgb(39, 39, 39),
			rgb(148, 59, 59),
			rgb(255, 0, 0)
		)
		no-repeat;
	background-size: 400% 400%;
	animation: 40s 1ms ease infinite alternate gradient;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.795),
		inset 3px -3px 3px rgba(0, 0, 0, 0.548);
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	position: fixed;
	width: 100%;
	
}


header h1 a {
	font-family: pokemon-hollow;
	font-size: 2.5rem;
	font-weight: bolder;
	color: aqua;
	text-shadow: 0px 0px 20px aqua;
	text-decoration: none;
}

header nav ul{
	display: flex;
	justify-content: space-evenly;
}

header nav ul li{
	list-style: none;
	font-weight: bold;
	color: rgb(0, 128, 128);
}

header nav ul li a {
	color: rgb(1, 161, 161);
	padding: 2rem;
	text-decoration: none;
	transition: all 1s;
}

header nav ul li a:hover{
	color: aqua;
	text-shadow: 0px 0px 20px aqua;
}

main {
	margin: 0 15rem;
}


section#card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

section#card h2 {
	align-self: center;
	padding: 3rem 15rem;
}
section#card div.card {
	color: whitesmoke;
	width: 15rem;
	height: 22rem;
	box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.432),
		inset 3px -3px 3px rgb(0, 0, 0);
	padding: 1rem;
	background-color: rgba(34, 34, 34, 0.925);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#card div.card img {
	height: 7em;
	align-self: center;
	filter: drop-shadow(5px 3px 6px rgb(0, 0, 0));
	padding: 3rem;
	margin: -3rem;
	transition: all 1s 1ms ease;
}

section#card div.card img:hover {
	transform: translate(0rem, -2.5rem);
	margin-bottom: -7rem;
	animation: 1s 200ms ease-in-out forwards flow;
}

section#card div.card h3 {
	font-family: pokemon-hollow;
	font-weight: bolder;
	color: rgba(255, 50, 50, 0.918);
	text-shadow: 6px 3px 3px rgb(0, 0, 0);
	font-size: 2rem;
	margin-top: -1rem;
}

section#card div.card p {
	font-size: smaller;
	margin-bottom: 0.5rem;
}

section#cadastro {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10rem 5rem;
}

section#cadastro h2 {
	width: 100%;
	text-align: center;
	color: #055749;
}

section#cadastro form {
	width: 50%;
}

section#cadastro form input {
	width: 100%;
	padding: 0.2rem;
	font-size: 0.7rem;
	outline: none;
	border: solid 2px #05574a57;
	margin-bottom: 1rem;
}

section#cadastro form label {
	color: #064037;
}

section#cadastro form button.btnform {
	padding: 0.2rem 4rem;
	width: 10%;
	display: flex;
	justify-content: center;
	margin: 0.1rem auto;
	background-color: rgba(34, 34, 34, 0.925);
	color: rgb(0, 158, 158);
	border-radius: 1rem;
	font-weight: bolder;
	border: 2px solid rgba(34, 34, 34, 0.925);
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.726);
	font-size: larger;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432), inset 1px -1px 2px rgb(0, 0, 0);
	opacity: 0.9;
}

section#cadastro form button.btnform:hover {
	cursor: pointer;
	animation: 0.7s 1ms ease-in-out forwards btn-anime;
}

